<a href="https://colab.research.google.com/github/nadyadtm/Abalone-Repository/blob/master/AbaloneRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regression (Abalone Dataset)

Dataset Abalone merupakan dataset yang bersumber dari MLData. Dalam dataset ini, kita harus memprediksi umur dari abalone dari fisik si abalonenya itu sendiri. Abalone merupakan semacam kerang. Pada notebook ini akan melakukan regresi sederhana

## Step-step Regresi

In [0]:
import numpy as np
import pandas as pd

## Ayo kita upload datasetnya

In [3]:
link = 'https://raw.githubusercontent.com/nadyadtm/Abalone-Repository/master/abalone_dataset.csv'
df = pd.read_csv(link)
df.head(5)

  sex  length  diameter  ...  viscera_weight  shell_weight  rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

## Deskripsi Data

Melihat tipe data dari atribut

In [9]:
df.dtypes

sex                object
length            float64
diameter          float64
height            float64
whole_weight      float64
shucked_weight    float64
viscera_weight    float64
shell_weight      float64
rings               int64
dtype: object

Melihat apakah ada yang bernilai null (missing values)